<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button (click)="setBottone1()" class="nav-item nav-link active" href="#" style="color: rgb(0, 17, 255); font-family: Arial, Helvetica, sans-serif;">HOME<span class="sr-only"></span></button>
        <button (click)="setBottone2()" class="nav-item nav-link" href="#" style="color: rgb(0, 17, 255); font-family: Arial, Helvetica, sans-serif;">BIGLIETTI</button>
      </div>
    </div>
  </nav>