<div class="sfondo">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="color: rgb(17, 0, 255); background-color: rgb(253, 229, 123)">Astra&Co.</h1>
<p style="color: white;" align="center">Benvenuti nell'universo di Astro&CO, la tua porta verso l'infinito. Siamo un'azienda pionieristica nel settore dei viaggi spaziali,
     specializzati nell'esplorazione di pianeti e corpi celesti al di là dei confini della Terra. Con una passione ardente per l'avventura e una determinazione senza limiti,
     ci impegniamo a rendere accessibile il mistero e la bellezza dello spazio per tutti coloro che sognano di esplorare l'ignoto
</p>
<div class="center">
<img src="https://c4.wallpaperflare.com/wallpaper/36/842/340/planet-4k-space-man-wallpaper-preview.jpg" alt="" width="1000" height="650" style="margin-left: 24%;">
</div>
</div>