<ng-template *ngIf = "name === 'inizio'; then bloccoInizio"></ng-template>

<ng-template #bloccoInizio>
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let element of pianeti index as i" class="col-md-7" style="margin-left: 23%;">
            <div class="card mb-6">
                <h1 align="center" style="color: red; margin-left:auto; margin-right:auto; font-family: Arial, Helvetica, sans-serif;">{{element.destinazione}}</h1>
                <br>
                <br>
                <img class="card-img-top" src="{{element.immagine}}" alt="Card image">
                <div class="card-body">
                    <br>
                    <p>pianeta di partenza: {{element.pianetadipartenza}}</p>
                    <br>
                    <p>durata viaggio: {{element.durata}}</p>
                    <br>
                    <p>sistema solare: {{element.appartenenza}}</p>
                    <br>
                    <p>giorno della partenza: {{element.DataPartenza}}</p>
                    <br>
                    <p>giorno d'arrivo: {{element.arrivo}}</p>
                    <br>
                    <p>costo: {{element.costo}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>

</ng-template>
