<div class="sfondo">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="color: rgb(17, 0, 255); background-color: rgb(253, 229, 123)">Museo delle Meraviglie</h1>
<p style="color: white;" align="center">Benvenuti al Museo delle Meraviglie, dove l'arte si fonde con la storia per creare un'esperienza unica e stimolante. Attraverso le nostre gallerie, vi invitiamo a esplorare un ricco panorama di opere d'arte che spaziano dalle epoche antiche fino ai giorni nostri.

     Camminate lungo i corridoi adornati da capolavori rinascimentali, lasciatevi trasportare dalle atmosfere suggestive dei paesaggi impressionisti e lasciatevi sorprendere dall'audacia delle opere contemporanee. Ogni tela, scultura e installazione racconta una storia, riflettendo l'estro e la creatività dell'artista e offrendo spunti di riflessione e emozione per i visitatori.
     
     Attraverso mostre tematiche e programmi educativi interattivi, il Museo delle Meraviglie si impegna a promuovere la comprensione e l'apprezzamento dell'arte in tutte le sue forme. Che siate appassionati d'arte esperti o semplici curiosi, vi invitiamo a esplorare, scoprire e lasciarvi ispirare dalle infinite meraviglie che il nostro museo ha da offrire. Benvenuti in un viaggio attraverso la bellezza e la creatività umana.
</p>
<div class="center">
<img src="https://www.yesmilano.it/sites/default/files/styles/testata_full/public/itinerario/copertina/2382/16812/Brera.jpg?itok=bodWZ8Gc" alt="" width="1000" height="650" style="margin-left: 24%;">
</div>
</div>